
modules = ["nodejs-20", "web", "nix"]
run = "npm run dev"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm run build:web && npm run start --workspace=@brillprime/web"]

[workflows]
runButton = "Development"

[[workflows.workflow]]
name = "Development"
author = 47010545
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install --workspaces"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev:web"
